<div class="new_deal">
  <ul class="dropdown menu" data-dropdown-menu>
    <li>
      <a href="javascript:void(0)" >NEW REQUEST</a>
      <ul class="menu no-bullet">
        <li>
          <label for="file-upload" class="custom-file-upload">Upload Requests</label>
          <input id="file-upload" type="file"/>
        </li>
        <li><a href="<%= new_request_path %>">Add Request Manually</a></li>
      </ul>
    </li>
  </ul>
</div>
