<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Relevance <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu max_height">
        <li>
          <a href="javascript:void(0)"> <div class="dot active_dot"></div> Relevance</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Price Low to High</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> price high to Low</a> 
        </li>
      </ul>
    </li>
  </ul>
</div>
