<div class="content box-section">
	    <div class="row expanded floating-box finish">
	        <div class="columns text-center">
	            <div class="check-circle">
	                <span class="icon-big-check"></span>
	            </div>
	            <h1>Successfully Completed!</h1>
	            <h3>Your application has been received. We will be in touch with you very soon. </h3>
	            
	            <button tabindex="0" aria-haspopup="true" aria-controls="invite-friends" data-open="invite-friends" type="button" class="button">Invite My Friends to Join</button>
	        </div>						
	    </div>
	</div>