<div class="container">
  <div class="row clearfix">
      <div class="sign_in_page_area">
    <div class="row">
      <div class="small-8 large-7 medium-7 columns medium-offset-3 large-offset-2">
        <div class="page_title">
          <h3>Sign Up or <a href="sign-in.html">Sign In</a></h3>


        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="sign_form">
              <form>
                <div class="single_form">
                  <input type="text" name="Full Name" placeholder="Full Name">
                  <i class="fa fa-user-circle-o"></i>
                </div>
                <div class="single_form">
                  <input type="text" name="Email" placeholder="Email">
                  <i class="fa fa-envelope-o"></i>
                </div>
                <div class="single_form">
                  <input type="text" name="Password" placeholder="Password">
                  <i class="fa fa-key"></i>
                </div>
                <div class="single_form">
                  <input type="text" name="Confirm" placeholder="Confirm">
                  <i class="fa fa-key"></i>
                </div>
                <div class="single_form mar_b_s">
                  <input id="checkbox1" type="checkbox"><label for="checkbox1">Keep me signed in on this computer</label>
                </div>
                <div class="single_form">
                  <input id="checkbox2" type="checkbox"><label for="checkbox2">I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Statement</a> </label>
                </div>
                <div class="single_form">
                  <input name="submit" class="button signup-btn" value="Sign Up" type="submit">
                </div>
              </form>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="others_sign">
              <div class="single_form_S">
                  <div class="facebook-login-button">
                    <i class="fa fa-facebook"></i><span>Sign Up with Facebook</span>
                  </div>
              </div>
              <div class="single_form_S">
                  <div class="twitter-login-button">
                    <i class="fa fa-google-plus"></i><span>Sign Up with Google</span>
                  </div>
              </div>
              <div class="single_form_S">
                  <input id="checkbox3" type="checkbox"><label for="checkbox3">Keep me signed in on this computer</label>
                </div>
                <div class="single_form_S">
                   <p>Already have a YOVA Account? <a href="sign-in.html">Sign In</a></p>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    </div>
      
</div>