<div class="container box-section subscription-details box-section_margin-3">
        <div class="row expanded floating-box">
            <div class="columns">
                <div class="row box">
                    <div class="columns subscription small-11 small-centered">
                        <div class="row">
                            <div class="columns small-6">
                                <h1>Subscription Plan</h1>
                                <div class="sub-box">
                                    <div style="display: block;" class="sub-plan">
                                        <strong>$29.99<span>/mo</span></strong>
                                    </div>
                                    <div style="display: none;" class="sub-coupon">
                                        <div class="sub-plan">
                                            <strong>$0<span>/mo</span></strong>
                                        </div>                                    
                                        <input class="coupon" placeholder="Enter your coupon" type="text">
                                    </div>
                                </div>
                                <p class="text-center eap">Enter an <strong>Early Adopter Program (EAP)</strong> code for a coupon to the YOVA subscription plan.</p>
                                <div class="switch-toggle">
                                    <input id="monthly" name="view" checked="" type="radio">
                                    <label for="monthly" onclick="">Monthly</label>

                                    <input id="coupon" name="view" type="radio">
                                    <label for="coupon" onclick="">Coupon</label>

                                    <a class="button"></a>
                                </div>
                                <div class="columns">
                                    <button type="button" class="button upgrade expanded" onclick="location.href = 'approval.html';">Upgrade now</button>
                                </div>
                            </div>
                            <div class="columns small-6">
                                <div class="row">
                                    <div class="columns">
                                        <label>Credit Card Name
                                            <input type="text">
                                        </label>
                                    </div>
                                    <div class="columns credit-card mc">
                                        <label>Credit Card Number
                                            <input type="text">
                                        </label>
                                    </div>
                                    <div class="columns">
                                        <label>Expiration</label>
                                        <select>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                        </select>
                                        <select>
                                            <option>Year</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                        </select>
                                    </div>
                                    <div class="columns cvc">
                                        <label>CVC / CVV
                                            <input type="text">
                                        </label>
                                        <span>3 or 4 digit code</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </di>