<div class="sign_in_page_area">
  <div class="row">
    <div class="small-8 large-7 medium-7 columns medium-offset-3 large-offset-2">
      <div class="page_title">
        <%- if resource.errors.full_messages.length > 0 %>
          <div class='callout alert'>
            Password reset instruction have been emailed to <%= resource.email %>. This may take a minute. Be sure to check your spam folder.
          </div>
        <% end %>
        <h3>Reset Your Password or <a href="<%= new_user_registration_path %>">Sign Up</a></h3>
      </div>
      <p>Enter your email address and we'll email you a link to reset your password.</p>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="sign_form no_border_o">
            <%- if resource.errors.full_messages.length > 0 %>
            <% end %>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="single_form">
                <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="single_form">
                <input name="submit" class="button signup-btn" value="Submit" type="submit">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
