<div class="cart_side_right">
  <div class="cart_delivery">
    <h3>Your Request</h3>

    <div class="delivery_form">

      <input  placeholder="Delivery Date..." class="span2" id="dp1" type="text">
      <button class="button enter" onclick="location.href='<%= carts_path %>';">CONTINUE</button>
    </div>


    <div class="cart_item" id="style-1">
      <div class="item-list">
        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>

        <span class="item">
          <strong class="name">KOBE XI<span>Men's Basketball Shoe</span></strong>
          <span class="price">$160</span>
          <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>
