<div class="sidenav">
  <aside>
    <h3 class="side_bar_title">YOVA Wholesale Shop</h3>
    <ul class="vertical menu drilldown" data-drilldown>
      <% Category.parents_only.each do |category| %>
        <li>
          <%= link_to category.name, '#' %>
          <ul class='menu vertical nested'>
            <h3><%= category.name %></h3>
            <li><%= link_to "See all #{category.name}", category_deals_path(category), class: 'see_all_active' %></li>
            <% category.childrens.each do |child| %>
              <li>
                <%= link_to child.name, category_subcategory_deals_path(category, child) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li><a href="#">Best Sellers</a></li>
    </ul>
  </aside>
</div>
