<div class="sidenav">
  <aside>
    <h3 class="side_bar_title">YOVA Wholesale Shop</h3>
    <ul class="vertical menu drilldown" data-drilldown>
      <li>
        <a href="#">Grocery</a>

        <ul class="menu vertical nested">
          <h3>Grocery</h3>
          <li><a href="#" class="see_all_active">See all Grocery</a></li>
          <li><a href="#">Beverages</a></li>
          <li><a href="#">Snack Foods</a></li>
          <li><a href="#">Breakfast Foods</a></li>
          <li><a href="#">Pantry</a></li>
          <li><a href="#">Candy, Gum, & Chocolate</a></li>
          <li><a href="#">Canned & Jarred Food</a></li>
          <li><a href="#">Packaged Meals & Side Dishes</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Household Products</a>

        <ul class="menu vertical nested">
          <h3>Household Products</h3>
          <li><a href="#" class="see_all_active">See all Household Products</a></li>
          <li><a href="#">Cleaning Products</a></li>
          <li><a href="#">Cleaning Tools</a></li>
          <li><a href="#">Paper & Plastic Products</a></li>
          <li><a href="#">Laundry</a></li>
          <li><a href="#">Trash Bags</a></li>
          <li><a href="#">Food Storage</a></li>
          <li><a href="#">Home Fragrance</a></li>
          <li><a href="#">Light Bulbs</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Health & Wellness</a>

        <ul class="menu vertical nested">
          <h3>Health & Wellness</h3>
          <li><a href="#" class="see_all_active">See all Health & Wellness</a></li>
          <li><a href="#">Health Care</a></li>
          <li><a href="#">Vitamins & Dietary Supplements</a></li>
          <li><a href="#">Sports Nutrition & Diet</a></li>
          <li><a href="#">Medical Supplies & Equipment</a></li>
          <li><a href="#">Sexual Wellness</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Beauty & Personal Care</a>

        <ul class="menu vertical nested">
          <h3>Beauty & Personal Care</h3>
          <li><a href="#" class="see_all_active">See all Beauty & Personal Care</a></li>
          <li><a href="#">Hair Care Products</a></li>
          <li><a href="#">Skin Care</a></li>
          <li><a href="#">Personal Care</a></li>
          <li><a href="#">Beauty Tools & Accessories</a></li>
        </ul>
      </li>


      <li>
        <a href="#">Baby</a>
        <ul class="menu vertical nested">
          <h3>Baby</h3>
          <li><a href="#" class="see_all_active">See all Baby</a></li>
          <li><a href="#">Baby Food & Formula</a></li>
          <li><a href="#">Diapering</a></li>
        </ul>
      </li>


      <li>
        <a href="#">Pet Supplies</a>
        <ul class="menu vertical nested">
          <h3>Pet Supplies</h3>
          <li><a href="#" class="see_all_active">See all Pet Supplies</a></li>
          <li><a href="#">Dog Supplies</a></li>
          <li><a href="#">Cat Supplies</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Electronics</a>
        <ul class="menu vertical nested">
          <h3>Electronics</h3>
          <li><a href="#" class="see_all_active">See all Electronics</a></li>
          <li><a href="#">Television & Video</a></li>
          <li><a href="#">Computers & Accessories</a></li>
          <li><a href="#">Tablets & eReaders</a></li>
          <li><a href="#">Cell Phones & Accessories</a></li>
          <li><a href="#">Office Electronics  </a></li>
          <li><a href="#">Home Audio</a></li>
          <li><a href="#">Portable Audio</a></li>
          <li><a href="#">Wearable Technology</a></li>
          <li><a href="#">Adaptors, Cables & Power</a></li>
          <li><a href="#">Security & Surveillance</a></li>
        </ul>
      </li>


      <li>
        <a href="#">Office Products</a>
        <ul class="menu vertical nested">
          <h3>Office Products</h3>
          <li><a href="#" class="see_all_active">See all Office Products</a></li>
          <li><a href="#">Pens, Pencils & Markers</a></li>
          <li><a href="#">Paper</a></li>
          <li><a href="#">Binders & Binding Systems</a></li>
          <li><a href="#">Filing Products</a></li>
          <li><a href="#">Envelopes & Shipping Supplies  </a></li>
          <li><a href="#">Labels, Indexes & Stamps</a></li>
          <li><a href="#">Workspace Organizers</a></li>
          <li><a href="#">Office Storage Supplies</a></li>
          <li><a href="#">Scissors, Cutters & Measuring Devices</a></li>
          <li><a href="#">Tape, Adhesives & Fasteners</a></li>
          <li><a href="#">Staplers & Punches</a></li>
          <li><a href="#">School Supplies</a></li>
          <li><a href="#">Calendars & Planners</a></li>
          <li><a href="#">Teacher Supplies</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Tools & Hardware</a>
        <ul class="menu vertical nested">
          <h3>Tools & Hardware</h3>
          <li><a href="#" class="see_all_active">See all Tools & Hardware</a></li>
          <li><a href="#">Power & Hand Tools</a></li>
          <li><a href="#">Hardware</a></li>
          <li><a href="#">Safety & Security Equipment</a></li>
          <li><a href="#">Adhesives & Sealers</a></li>
          <li><a href="#">Painting Supplies & Wall Treatments</a></li>
          <li><a href="#">Tool Storage & Organization</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Business Essentials</a>
        <ul class="menu vertical nested">
          <h3>Business Essentials</h3>
          <li><a href="#" class="see_all_active">See all Business Essentials</a></li>
          <li><a href="#">Breakroom Basics</a></li>
          <li><a href="#">Cleaning Products</a></li>
          <li><a href="#">Copy Room Supplies</a></li>
          <li><a href="#">Facilities Maintenance</a></li>
          <li><a href="#">Office Tech</a></li>
          <li><a href="#">Office Furnishings</a></li>
          <li><a href="#">Safety & First Aid</a></li>
          <li><a href="#">Personal Care</a></li>
          <li><a href="#">Animal Care</a></li>
          <li><a href="#">Baby</a></li>
        </ul>
      </li>



      <li><a href="#">Best Sellers</a></li>

    </ul>

  </aside>
</div>
