<%- if object.errors.full_messages.length > 0 %>
  <div class='callout alert'>
    <ul>
      <% object.errors.each do |attr,msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



