<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Categories <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu max_height">
        <% Category.parents_only.each do |category| %>
          <li>
            <%= link_to 'javascript:void(0)' do %>
              <div class='dot'></div><%= category.name %>
            <% end %>
            <ul>
              <% category.childrens.each do |child| %>
                <li>
                  <%= link_to 'javascript:void(0)' do %>
                    <div class='dot'></div><%= child.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Brands <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu max_height">
        <li>
          <div class="input-group dropdown_search">
            <span class="input-group-label"><i class="fa fa-search"></i></span>
            <input class="input-group-field" type="search">
          </div>
        </li>
        <li>
          <a href="javascript:void(0)"> <div class="dot active_dot"></div> Grocery</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Household Products</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Health & Wellness</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Beauty & Personal Care</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Baby</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Pet Supplies</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Electronics</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div>Office Products</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Tools & Hardware</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Business Essentials</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Best Sellers</a> 
        </li>   

      </ul>
    </li>
  </ul>
</div>


<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Prices <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu max_height">
        <li>
          <a href="javascript:void(0)"> <div class="dot active_dot"></div> $0-25 <span>(240)</span></a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div>$25-50 <span>(24)</span></a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> $50-100 <span>(40)</span></a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div>  $100-200 <span>(23)</span></a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div>  $200 and Above <span>(50)</span></a> 
        </li>
        <li class="price_search_drop">
          <div class="hulf_search_price">
            <span>$</span> <input type="text">
          </div>
          <div class="hulf_search_price">
            <span>$</span> <input type="text">
          </div>
          <div class="hulf_search_price">
            <p class="go_link">go</p>
          </div>
        </li>

      </ul>
    </li>
  </ul>
</div>


<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Refine By Type <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu max_height">
        <li>
          <a href="javascript:void(0)"> <div class="dot active_dot"></div> Grocery</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Household Products</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Health & Wellness</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Beauty & Personal Care</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Baby</a> 
        </li>
        <li>
          <a href="javascript:void(0)"><div class="dot"></div> Pet Supplies</a> 
        </li>


      </ul>
    </li>
  </ul>
</div>
