<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Categories <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            Brands
          </a>
        </li>
        <li>
          <a href="#">
            Prices
          </a>
        </li>
        <li>
          <a href="#">
            Refine By Type
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Brands <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            $0-25
          </a>
        </li>
        <li>
          <a href="#">
            $25-50
          </a>
        </li>
        <li>
          <a href="#">
            $50-100
          </a>
        </li>
        <li>
          <a href="#">
            $100-200
          </a>
        </li>
        <li>
          <a href="#">
            $200 and Above
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>


<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Prices <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            Drop Item 1
          </a>
        </li>
        <li>
          <a href="#">
            Drop Item 2
          </a>
        </li>
        <li>
          <a href="#">
            Drop Item 3
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>


<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Refine By Type <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu price_range">
        <li>
          <a href="#">
            <input type="text" id="amount" style="border:0; color:#404852; font-weight:300;" />
            <div id="slider-range"></div>
          </a>
        </li>

      </ul>
    </li>
  </ul>
</div>
