<div class="reveal discounts_popup" id="product_pop_dic_inner" data-reveal>
  <h3>Add Promotion Preiod</h3>
  <p>Enter a Time Preiod for Your Promotion</p>


  <div class="add_date">
    <p>How many Days ? </p>
    <input type="text" name="">
  </div>
  <div class="submit_data">
    <button class="button sikp_btn">BACK </button>
    <button class="button add_btn">SUBMIT</button>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
