<div class="Filter_drop_down">
  <ul class="nav">
    <li class="button-dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle">
        Relevance <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            New Product
          </a>
        </li>
        <li>
          <a href="#">
            Recommand Product
          </a>
        </li>
        <li>
          <a href="#">
            Recommand Product
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
