<%= title 'Order Complete' %>
<div class="cart_page_main_area">
  <div class="row">
    <div class="columns medium-12">
      <div class="order_complete">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <h2>SUCCESFULLY SUBMITTED ORDER!</h2>
        <p>Your order has been placed. You will get an Emiail at <strong class="bold_text">john.a.doe@account.com</strong> when
          it's Confirmed</p>
      </div>
      <div class="blue_warning midle_area">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <p>
          <p> Want to track your committed order? Visit your <a href="<%= order_path('history') %>">Order History</a> </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 small-12 large-12 columns">
      <div class="order_history">
        <p class="order_ser_title">Order #: 398230891536 &nbsp; <span class="place_date"> Placed: 14-08-17</span></p>
        <div class="row">
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Delivered to</h4>
              <p>28 Mainstreet North Suite 100<br/> MINNEAPOLIS, MN 55343</p>
            </div>
          </div>
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Placed on</h4>
              <p>Jul 28, 2017</p>
            </div>
          </div>
          <div class="columns medium-2">
            <div class="single_h">
              <h4>Total Charge</h4>
              <p>$12.24</p>
            </div>
          </div>
          <div class="columns medium-2">
            <div class="single_h">
              <h4>Paid With</h4>
              <p>Visa 1240</p>
            </div>
          </div>
          <div class="columns medium-2">
            <div class="single_h">
              <p>Visit your <a href="<%= order_path('history') %>" class="bold_text">Order History</a> to track your order.</p>
              <div class="pending_charge">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <p>See a pending charge on your card? The actual charge will go through once the group order is completed. Learn
                  more <a href="#" class="bold_text">here.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
