<% if @deal.errors.messages.length == 0 %>
  $('.modal-form-wrapper').html("<%=j render 'shared/modal/assign_other_discount_info', deal: @deal %>");
  $(document).foundation();
  $('#product_pop_dic_sell').foundation('close');
  $('#product_pop_dic_inner').foundation('open');
  $('#product_pop_dic_inner').on('closed.zf.reveal', function(){
    $(this).remove();
  });
<% else %>
  $('.error-wrapper').html("<p class='help-text' style='color: red;'><%= @deal.errors.full_messages.join(', ') %></p>");
<% end %>