<div class="main_product_area">
  <div class="row">
    <div class="columns medium-12 large-12 small-12">
      <div class="breadcom">
        <p>Home &nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i> &nbsp; Jet Wholesale&nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i>  &nbsp; Wholesale Grocery&nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <span class="last_breadcom">Wholesale Beverages</span></p>
        <h3>Wholesale Beverages </h3>
      </div>
    </div>
  </div>

  <div class="row category_filter">
    <div class="border_bottom small-12 large-12 medium-12 columns" id="sticker">
      <div class="border_bottom_p">
        <div class="single_fliter width_one">
          <p>Filter by:</p>
          <%= render "home/filter_by" %>
        </div>

        <div class="single_fliter width_two">
          <p>Sort by:</p>
          <%= render "home/sort_by" %>
        </div>

        <div class="single_fliter width_five">
          <div class="new_deal">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#" >NEW DEAL</a>
                <ul class="menu no-bullet">
                  <li><a href="assign_discounts.html">Existing Product</a></li>
                  <li><a href="add-product.html">New Product</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>         
    </div>
  </div>
  <div class="row product_margin_top">
    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/shoe-big.jpg" alt="shoe-big">
          </div>
          <div class="product_price">
            <h3>$178.99</h3>
            <p>8% OFF</p>
          </div>


          <div class="Products_title">
            <h3>Nike Sport Shoes Fingertap Max <br/><a href="#" class="name">Nike Wholesale</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic_buyer">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">10 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>

            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar full_bar"></span>
              </div>
              <div class="commit_count">


                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/airmax.jpg" alt="airmax">
          </div>


          <div class="product_price">
            <h3>$87.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3>Nike Zoom KD 9 <br/><a href="#" class="name">Daiwa Shoes</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">30 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>


    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/alpha.jpg" alt="alpha">
          </div>

          <div class="product_price">
            <h3>$99.99</h3>
            <p>18% OFF</p>
          </div>

          <div class="Products_title">
            <h3>Nike Jordans <br/><a href="#" class="name">IJ LTD.</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">30 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar full_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>


    </div>

    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/hyperdunk.jpg" alt="hyperdunk">
          </div>

          <div class="product_price">
            <h3>$92.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3>Nike Hyperdunk <br/><a href="#" class="name">Maywather Kicks</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">30 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>
            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>


    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/jordan.jpg" alt="jordan">
          </div>

          <div class="product_price">
            <h3>$143.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3>Jordan Super Fly 5 <br/><a href="#" class="name">Big Ups</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">30 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>

    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/res-1.jpg" alt="res-1">
          </div>


          <div class="product_price">
            <h3>$15.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3> Kobe 9 <br/><a href="#" class="name">Zoom LLC</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">30 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>

    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/underarmour.jpg" alt="underarmour">
          </div>


          <div class="product_price">
            <h3>$230.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3> Underarmour Curry 1 <br/><a href="#" class="name">Morsel Inc.</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">45 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>

    <div class="small-6 medium-6 large-3  columns">
      <a href="deals-details.html">
        <div class="single_products">
          <div class="Products_img">
            <img src="images/shoe.jpg" alt="shoe">
          </div>


          <div class="product_price">
            <h3>$46.99</h3>
            <p>75% OFF</p>
          </div>

          <div class="Products_title">
            <h3> Nike LunarEpic <br/><a href="#" class="name">LTD Trading</a></h3>
            <div class="sub_fil">
              <div class="category_name_filter">
                <span class="category_name"><a href="#" data-open="product_pop_dic">DISCOUNT TABLE</a></span>
                <span class="category_name"><a href="#">310 COMMITS</a></span>
                <span class="category_name"><a href="#">MN</a></span>
              </div>

            </div>
            <div class="commit_area">
              <div class="commit_bar">
                <span class="active_bar unactive_bar"></span>
              </div>
              <div class="commit_count">

                <button class="commits_btn" type="button">COMMIT</button>
              </div>
            </div>
          </div>

          <div class="pro_timmer no-padding">
            <div class="time">
              <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>

  </div>
</div><!-- Tab End -->

</div>
<%= render "home/footer" %>
