<div class="reveal discounts_popup" id="product_discount_table" data-reveal>

  <div class="filter_del_locker buyer_table_pop">
    <div class="owl-carousel owl-theme" id="buyer_table_pop">
      <div class="items items_active">
        <p><span class="ser_num">Buy 1-15</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>
      <div class="items">
        <p><span class="ser_num">Buy 16 – 20</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>
      <div class="items">
        <p><span class="ser_num">Buy 21 - 35</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>

      <div class="items">
        <p><span class="ser_num">Buy 36 – 45</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>

      <div class="items">
        <p><span class="ser_num">Buy 46 – 55</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>
      <div class="items">
        <p><span class="ser_num">Buy 1-15</span> <br/><span class="co_class">$43.20</span>/ea</p>
      </div>

    </div>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
