<div class="container">
  <div class="row clearfix">
    <span class="filter-by-title">Filter by:</span>
    <div class="dropdown filter-by">
      <button class="btn btn-link dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>    
      </ul>
    </div>
    <div class="dropdown filter-by">
      <button class="btn btn-link dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>    
      </ul>
    </div>
    <div class="dropdown filter-by ">
      <button class="btn btn-link dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>    
      </ul>
    </div>
  </div>
  <!-----------thumbnails---->
  
    <div class="row main_product_area clr">
      <div class="container">
        <div class="row">
        <div class="col-md-3">
            <a href="deals-details.html">
          </a><div class="single_products"><a href="deals-details.html">
            <div class="Products_img">
              <img src="images/shoe-big.jpg" alt="shoe-big">
            </div>
            <div class="product_price">
              <h3>$178.99</h3>
              <p>8% OFF</p>
            </div>
            

            </a><div class="Products_title"><a href="deals-details.html">
              </a><h3><a href="deals-details.html">Nike Sport Shoes Fingertap Max <br></a><a href="#" class="name">Nike Wholesale</a></h3>
              <div class="sub_fil">
                <div class="category_name_filter">
                  <span class="category_name"><a href="#" data-open="product_pop_dic" aria-controls="product_pop_dic" aria-haspopup="true" tabindex="0">DISCOUNT TABLE</a></span>
                  <span class="category_name"><a href="#">10 COMMITS</a></span>
                  <span class="category_name"><a href="#">MN</a></span>
                </div>
                
              </div>
              
              <div class="commit_area">
                <div class="commit_bar">
                  <span class="active_bar full_bar"></span>
                </div>
                <div class="commit_count">
                  
                  
                  <button class="commits_btn" type="button">COMMIT</button>
                </div>
              </div>
            </div>

            <div class="pro_timmer no-padding">
              <div class="time">
                <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        
        <div class="col-md-3">
            <a href="deals-details.html">
          </a><div class="single_products"><a href="deals-details.html">
            <div class="Products_img">
              <img src="images/shoe-big.jpg" alt="shoe-big">
            </div>
            <div class="product_price">
              <h3>$178.99</h3>
              <p>8% OFF</p>
            </div>
            

            </a><div class="Products_title"><a href="deals-details.html">
              </a><h3><a href="deals-details.html">Nike Sport Shoes Fingertap Max <br></a><a href="#" class="name">Nike Wholesale</a></h3>
              <div class="sub_fil">
                <div class="category_name_filter">
                  <span class="category_name"><a href="#" data-open="product_pop_dic" aria-controls="product_pop_dic" aria-haspopup="true" tabindex="0">DISCOUNT TABLE</a></span>
                  <span class="category_name"><a href="#">10 COMMITS</a></span>
                  <span class="category_name"><a href="#">MN</a></span>
                </div>
                
              </div>
              
              <div class="commit_area">
                <div class="commit_bar">
                  <span class="active_bar full_bar"></span>
                </div>
                <div class="commit_count">
                  
                  
                  <button class="commits_btn" type="button">COMMIT</button>
                </div>
              </div>
            </div>

            <div class="pro_timmer no-padding">
              <div class="time">
                <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        
        <div class="col-md-3">
            <a href="deals-details.html">
          </a><div class="single_products"><a href="deals-details.html">
            <div class="Products_img">
              <img src="images/shoe-big.jpg" alt="shoe-big">
            </div>
            <div class="product_price">
              <h3>$178.99</h3>
              <p>8% OFF</p>
            </div>
            

            </a><div class="Products_title"><a href="deals-details.html">
              </a><h3><a href="deals-details.html">Nike Sport Shoes Fingertap Max <br></a><a href="#" class="name">Nike Wholesale</a></h3>
              <div class="sub_fil">
                <div class="category_name_filter">
                  <span class="category_name"><a href="#" data-open="product_pop_dic" aria-controls="product_pop_dic" aria-haspopup="true" tabindex="0">DISCOUNT TABLE</a></span>
                  <span class="category_name"><a href="#">10 COMMITS</a></span>
                  <span class="category_name"><a href="#">MN</a></span>
                </div>
                
              </div>
              
              <div class="commit_area">
                <div class="commit_bar">
                  <span class="active_bar full_bar"></span>
                </div>
                <div class="commit_count">
                  
                  
                  <button class="commits_btn" type="button">COMMIT</button>
                </div>
              </div>
            </div>

            <div class="pro_timmer no-padding">
              <div class="time">
                <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        
        <div class="col-md-3">
            <a href="deals-details.html">
          </a><div class="single_products"><a href="deals-details.html">
            <div class="Products_img">
              <img src="images/shoe-big.jpg" alt="shoe-big">
            </div>
            <div class="product_price">
              <h3>$178.99</h3>
              <p>8% OFF</p>
            </div>
            

            </a><div class="Products_title"><a href="deals-details.html">
              </a><h3><a href="deals-details.html">Nike Sport Shoes Fingertap Max <br></a><a href="#" class="name">Nike Wholesale</a></h3>
              <div class="sub_fil">
                <div class="category_name_filter">
                  <span class="category_name"><a href="#" data-open="product_pop_dic" aria-controls="product_pop_dic" aria-haspopup="true" tabindex="0">DISCOUNT TABLE</a></span>
                  <span class="category_name"><a href="#">10 COMMITS</a></span>
                  <span class="category_name"><a href="#">MN</a></span>
                </div>
                
              </div>
              
              <div class="commit_area">
                <div class="commit_bar">
                  <span class="active_bar full_bar"></span>
                </div>
                <div class="commit_count">
                  
                  
                  <button class="commits_btn" type="button">COMMIT</button>
                </div>
              </div>
            </div>

            <div class="pro_timmer no-padding">
              <div class="time">
                <div class="time-box">
                <span><em>01</em>days</span> 
                <span><em>00</em>hours</span> 
                <span><em>12</em>min</span> 
                <span><em>52</em>sec</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        </div>
        </div>
        
        
    </div>
  <!-----------thumbnails---->
  
  <footer class="footer">
      <div class="footer_area">
    <div class="row">
     <div class="columns medium-12 small-12 large-12">
        <div class="footer_inner">
          <div class="footer_menu">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>

          <div class="social_icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
     </div>
    </div>
  </div>
    </footer>
  
  
  
</div>
