<%= title 'Account - Transactions' %>
<div class="cart_page_main_area">

  <div class="row">
    <div class="medium-9 small-9 large-9 columns">
      <div class="order_history">
        <h3 class="border_bottom_h3">Transaction History</h3>
        <p class="order_ser_title">Order #: 398230891536 - Maven Goods</p>
        <div class="row">
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Placed on</h4>
              <p>Jul 28, 2017</p>
            </div>
          </div>
          <div class="columns medium-2">
            <div class="single_h">
              <h4>Total Charge</h4>
              <p>$12.24</p>
            </div>
          </div>
          <div class="columns medium-2">
            <div class="single_h">
              <h4>Paid With</h4>
              <p>Visa 1740</p>
            </div>
          </div>
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Delivered to</h4>
              <p>78th Ave N<br/> MINNEAPOLIS, MN 55343</p>
            </div>
          </div>
          <div class="columns medium-2">
            <button type="button" class="button order_btns" data-open="cancel_order"> Cancel Order</button>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-12">
            <div class="order_details_show">
              <h3 class="hide_hi">Show Details</h3>
              <div class="show_hide_d">
                <p><span>Starting Subtotal</span> $5.88</p>
                <p class="color_red"><span>Extra Savings</span> -$0.05</p>
                <p><span>Subtotal</span> $5.83</p>
                <p><span>Shipping Fee</span> $5.99</p>
                <p><span>Estimated Tax</span> $0.42</p>
                <p class="bold_text"><span>Order Total</span> $12.24</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="columns medium-12">
            <div class="order_list_show">
              <div class="title_bar_list">
                <p>Fulfilled by <br/><span class="name">Jet</span></p>
              </div>
              <div class="single_list">
                <div class="pro_img_list">
                  <%= image_tag  'shoes.png', alt: 'shoes' %>
                </div>

                <div class="single_list_de">
                  <div class="pro_de">
                    <div class="de_ma">
                      <p><small>Versace</small></p>
                      <p>EAU FRAICHE(M) .17</p>
                    </div>
                    <div class="de_ma">
                      <p>Estimated Delivery: <span class="date_color">Tue, Aug 1</span></p>
                    </div>
                    <div class="de_ma">
                      <h3>You paid: $6.25</h3>
                      <p class="hide_list_price">Show Price Details</p>


                      <div class="show_price_de">
                        <p><span>item Subtotal</span> $5.88</p>
                        <p class="color_red"><span>Extra Savings</span> -$0.05</p>
                        <p><span>Estimated Tax</span> $0.42</p>
                        <p><span>Item Total</span> $6.25</p>
                        <p class="color_gray">Charged On: </p>
                      </div>
                      <p>Quantity: 1</p>
                    </div>
                  </div>

                  <div class="order_btn">
                    <p class="order_p">Processing <i class="fa fa-spinner" aria-hidden="true"></i></p>

                    <button type="button" class="button order_btns"> Reorder</button>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="order_history Cancel_order_history">
        <p class="order_ser_title">Order #: 398230891536 - LTD Trading Co.</p>
        <div class="row">
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Placed on</h4>
              <p>Jul 28, 2017</p>
            </div>
          </div>
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Total Charge</h4>
              <p>$12.24</p>
            </div>
          </div>
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Paid With</h4>
              <p>Visa 1740</p>
            </div>
          </div>
          <div class="columns medium-3">
            <div class="single_h">
              <h4>Delivered to</h4>
              <p>29 Ave S<br/> ST PAUL, MN 55343</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-12">
            <div class="order_details_show">
              <h3 class="hide_hi_c">Show Details</h3>
              <div class="show_hide_d_c">
                <p><span>Starting Subtotal</span> $5.88</p>
                <p class="color_red"><span>Extra Savings</span> -$0.05</p>
                <p><span>Subtotal</span> $5.83</p>
                <p><span>Shipping Fee</span> $5.99</p>
                <p><span>Estimated Tax</span> $0.42</p>
                <p class="bold_text"><span>Order Total</span> $12.24</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="columns medium-12">
            <div class="order_list_show">
              <div class="title_bar_list">
                <p>Fulfilled by <br/><span class="name">Jet</span></p>
              </div>
              <div class="single_list">
                <div class="pro_img_list">
                  <%= image_tag  'shoes.png', alt: 'shoes' %>
                </div>

                <div class="single_list_de">
                  <div class="pro_de">
                    <div class="de_ma">
                      <p><small>Versace</small></p>
                      <p>EAU FRAICHE(M) .17</p>
                    </div>
                    <div class="de_ma">
                      <p>Estimated Delivery: <span class="date_color">Tue, Aug 1</span></p>
                    </div>
                    <div class="de_ma">
                      <h3>You paid: $6.25</h3>
                      <p class="hide_list_price_c">Show Price Details</p>


                      <div class="show_price_de_c ">
                        <p><span>item Subtotal</span> $5.88</p>
                        <p class="color_red"><span>Extra Savings</span> -$0.05</p>
                        <p><span>Estimated Tax</span> $0.42</p>
                        <p><span>Item Total</span> $6.25</p>
                        <p class="color_gray">Charged On: </p>
                      </div>
                      <p>Quantity: 1</p>
                    </div>
                  </div>

                  <div class="order_btn">
                    <p class="order_c">Cancelled <i class="fa fa-times" aria-hidden="true"></i></p>
                    <button type="button" class="button order_btns"> Reorder</button>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <%= render 'sidebar' %>
    
  </div>
</div>

<div class="reveal v" id="cancel_order" data-reveal>
  <h1>Are You Sure?</h1>
  <div class="text_center">
    <p>Are you sure you want to cancel your order?</p>
    <button class="button order_btns" data-open="cancel_yes">Cancel order</button>
    <button class="button order_btns" data-close aria-label="Close reveal">Never Mind</button>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- This is the nested modal -->
<div class="reveal text_center" id="cancel_yes" data-reveal>
  <p>Order Canceled</p>
  <button class="button order_btns">OK</button>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>