<%= title 'YOVA | DEALS' %>
<div class="main_product_area">
  <div class="row">
    <div class="columns medium-6 medium-offset-3">
      <div class="add_product_box">
        <h3>Add New Product</h3>
        <hr/>
        <div class="add_product_box_inner">
          <h3>Choose a category to assign your product to</h3>
          <select id="poll__community" class="form__selectmenu">
                <option disabled="">Select category</option>
                <option value="audiophile">Grocery</option>
                <option value="everyday carry">Household Products</option>
                <option value="men's apparel">Health & Wellness</option>
                <option value="auto">Beauty & Personal Care</option>
                <option value="hobby shop">Baby</option>
                <option value="mechanical keyboards">Pet Supplies</option>
                <option value="tech">Electronics</option>
                <option value="quilting">Office Products</option>
                <option value="writing">Tools & Hardware</option>
                <option value="ultralight">Business Essentials</option>
                </select>
          <br/>
          <br/>
          <h3>Choose a subcategory</h3>
          <select id="poll__community" class="form__selectmenu">
                <option disabled="">Select subcategory</option>
                <option value="audiophile">Audiophile</option>
                <option value="everyday carry">Everyday Carry</option>
                <option value="men's apparel">Men's Apparel</option>
                <option value="auto">Auto</option>
                <option value="hobby shop">Hobby Shop</option>
                <option value="mechanical keyboards">Mechanical Keyboards</option>
                <option value="tech">Tech</option>
                <option value="quilting">Quilting</option>
                <option value="writing">Writing</option>
                </select>
          <br/>
          <br/>
          <span class="add_btn_pro" data-open="product_pop_add">
            <%= image_tag 'add-plus.png', alt: 'add-plus' %>
            <p>ADD PRODUCT</p>
          </span>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal discounts_popup products_add_popup" id="product_pop_add" data-reveal>
  <h3>Add product details</h3>
  <hr/>
  <p>Please <a href="#">read</a> our guidelines before adding an product.</p>
  <h3>Product URL</h3>
  <input type="text" name="pro_url" placeholder="http://www.productpage.com">
  <div class="Modal_footer">
    <button class="button pop_up_btn" data-open="product_pop_add_inner">CONTINUE</button>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal discounts_popup add_por_inner" id="product_pop_add_inner" data-reveal>
  <h3>Edit my product details</h3>
  <hr/>
  <form>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product URL *</label>
      </div>
      <div class="small-8 columns">
        <input type="text" id="right-label">
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product Name *</label>
      </div>
      <div class="small-8 columns">
        <input type="text" id="right-label">
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product Category *</label>
      </div>
      <div class="small-8 columns">
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product Subcategory *</label>
      </div>
      <div class="small-8 columns">
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Standard Price</label>
      </div>
      <div class="small-8 columns">
        <input type="text" id="right-label">
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Unit *</label>
      </div>
      <div class="small-8 columns">
        <select>
          <option value="husker">Case</option>
          <option value="starbuck">Carton</option>
          <option value="hotdog">Pallet</option>
          <option value="apollo">Box</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product Picture</label>
      </div>
      <div class="small-8 columns">
        <label for="exampleFileUpload" class="button upload_btn">
          <img src="images/shoes.png" alt="shoes">
        </label>
        <input type="file" id="exampleFileUpload" class="show-for-sr">
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label for="right-label" class="text-right">Product Description</label>
      </div>
      <div class="small-8 columns">
        <textarea cols="4"></textarea>
      </div>
    </div>
    <hr/>
  </form>
  <div class="submit_data">
    <button class="button sikp_btn">CANCEL</button>
    <button class="button add_btn" data-open="product_pop_dic">CONTINUE</button>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>